.test {
  border: 1px solid orange;
  background-color: #D7d6d7;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.triangle-border-black {
  border-bottom: 9px solid black;
  border-left: 4px solid #D7d6d7;
  border-right: 4px solid #D7d6d7;
  transition: border-bottom 2s, border-left 2s, border-right 2s;
}

.triangle-border-white {
  border-bottom: 9px solid white;
  border-left: 4px solid #D7d6d7;
  border-right: 4px solid #D7d6d7;
  transition: border-bottom 2s, border-left 2s, border-right 2s;
}

.triangle-true {
  border-bottom: 30px solid blue;
  border-left: 15px solid #D7d6d7;
  border-right: 15px solid #D7d6d7;
  transition: border-bottom 2s, border-left 2s, border-right 2s;
}

.row0 {
  background-color: #D7d6d7;
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hoverChange:hover {
  transition: border-bottom 0.3s, border-left 0.3s, border-right 0.3s;
  border-bottom: 30px solid #67182e;
  border-left: 15px solid #D7d6d7;
  border-right: 15px solid #D7d6d7;
}

.row0-t1 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row0-t2 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row0-t3 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row0-t4 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row0-t5 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row0-t6 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row0-t7 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row0-t8 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row0-t9 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1 {
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row1-t0 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1-t1 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1-t2 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1-t3 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1-t4 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1-t5 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1-t6 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1-t7 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1-t8 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row1-t9 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2 {
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row2-t0 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2-t1 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2-t2 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2-t3 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2-t4 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2-t5 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2-t6 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2-t7 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2-t8 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row2-t9 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3 {
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row3-t0 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3-t1 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3-t2 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3-t3 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3-t4 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3-t5 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3-t6 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3-t7 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3-t8 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row3-t9 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4 {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row4-t0 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4-t1 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4-t2 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4-t3 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4-t4 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4-t5 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4-t6 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4-t7 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4-t8 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row4-t9 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5 {
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row5-t0 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5-t1 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5-t2 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5-t3 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5-t4 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5-t5 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5-t6 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5-t7 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5-t8 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row5-t9 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6 {
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row6-t0 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6-t1 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6-t2 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6-t3 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6-t4 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6-t5 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6-t6 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6-t7 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6-t8 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row6-t9 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7 {
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row7-t0 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7-t1 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7-t2 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7-t3 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7-t4 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7-t5 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7-t6 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7-t7 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7-t8 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.row7-t9 {
  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

.soundOn {
  color: red;
  font-family: "Lato";
  margin: auto 0 2px 0;
  font-weight: bold;
  animation: fadeIn 1.8s;
}

@keyframes fadeIn {
  from {
    color: black;
  }
  to {
    color: red;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=test.css.map */