.fp-container {
  max-width: 1600px;
  margin: 0 auto 150px auto;
  width: 98%;
}

.fp-h1-container {
  margin-bottom: 5px;
}

.fp {
  margin: 0;
  font-family: "Lato";
  font-size: 17px;
  color: #67182e;
  letter-spacing: 2px;
  text-align: center;
  margin-left: -1px;
}

.nav_separator-fp {
  background-color: black;
  height: 1px;
}

.fp-info1-container {
  display: flex;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.fp-info1-title-container {
  display: flex;
  flex-direction: column;
}

.fp-info1-title {
  font-family: "Lato";
  color: #67182e;
  font-weight: 900;
  margin-bottom: 0px;
  text-align: center;
}

.fp-info1-year {
  margin-top: 0px;
  text-align: center;
}

#fp-info1-roles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 278px;
  margin: 0 auto 0 auto;
}

.fp-info1-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 278px;
}

.fp-info1-info-p {
  font-family: "Lato";
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

#mbs-info-span {
  display: none;
}

.fp-info1-info-p-span {
  color: #67182e;
  font-weight: 700;
  cursor: pointer;
}

.fp-info1-info-roles {
  margin-top: 10px;
  font-family: "Lato";
  line-height: 22px;
}

.fp-showcase-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.fp-showcase-1 {
  background-size: 100% 100%;
  width: 278px;
  height: 156.38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fp-showcase-2-mbs {
  display: none;
  background-color: white;
  width: 49%;
  height: 100%;
}
@media (min-width: 900px) {
  .fp-showcase-2-mbs {
    display: none;
    background-image: url(../../assets/mbs2.png);
    background-size: 100% 100%;
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 1000px) {
  .fp-showcase-2-mbs {
    display: flex;
    width: 500px;
    height: 281px;
  }
}

.fp-showcase-1-algo {
  background-image: url(../../assets/algorythmia-png.png);
  background-size: 100% 100%;
  width: 49%;
  height: 281px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fp-showcase-2-algo {
  background-color: white;
  width: 49%;
  height: 281px;
}
@media (min-width: 900px) {
  .fp-showcase-2-algo {
    display: none;
    background-image: url(../../assets/algorythmia2.png);
    background-size: 100% 100%;
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 1000px) {
  .fp-showcase-2-algo {
    display: flex;
    width: 500px;
    height: 281px;
  }
}

.fp-showcase-button {
  background-color: #67182e;
  width: 169px;
  height: 30px;
  border-radius: 0.25rem;
  color: white;
  font-family: "Lato";
  opacity: 1;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-showcase-button:hover {
  color: black;
  transition: 0.3s;
}

.fp-info2-title {
  color: #67182e;
  text-align: center;
  margin-bottom: 0px;
}

.fp-info2-year {
  margin-top: 0px;
  text-align: center;
}

.fp-info2-info-p {
  text-align: center;
}

#fp-info2-roles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.fp-showcase-2 {
  display: none;
  background-size: 100% 100%;
  width: 330px;
  height: 185.63;
}

#fp-showcase-mbs-1 {
  background-image: url(../../assets/mbs-png.png);
}

#fp-showcase-algo-1 {
  background-image: url(../../assets/algorythmia-png.png);
}

#fp-showcase-mbs-2 {
  background-image: url(../../assets/mbs2.png);
}

#fp-showcase-algo-2 {
  background-image: url(../../assets/algorythmia2.png);
}

@media (min-width: 450px) {
  .fp-showcase-1 {
    width: 405px;
    height: 227.81px;
  }
}
@media (min-width: 740px) {
  .fp-info1-container {
    flex-direction: row;
    margin: 0 auto 0 auto;
    justify-content: space-between;
  }
  .fp-info1-info {
    flex-direction: row;
    width: 329px;
  }
  .fp {
    text-align: left;
  }
  .fp-info1-title {
    text-align: left;
    font-size: 31px;
    margin-top: 7px;
    margin-left: -2px;
  }
  .fp-info1-year {
    text-align: left;
  }
  .fp-info1-info-p {
    font-size: 14px;
    text-align: left;
    width: 50%;
  }
  .fp-info1-title-container {
    width: 330px;
  }
  .fp-showcase-1 {
    width: 331px;
    height: 186.19px;
  }
  .fp-showcase-2 {
    display: flex;
    width: 330px;
    height: 186.19px;
  }
  .fp-showcase-container {
    justify-content: space-between;
    margin-bottom: 33px;
  }
  #fp-info1-roles-container {
    width: 55%;
    font-size: 11px;
  }
  .fp-info1-info-roles {
    font-size: 12px;
    line-height: 20px;
  }
  .nav_separator-fp {
    margin-bottom: 13px;
  }
  .fp-info2-title {
    text-align: left;
    margin-top: 2px;
  }
  .fp-info2-year {
    text-align: left;
  }
  .fp-info2-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .fp-info2-info {
    display: flex;
    width: 330px;
  }
  .fp-info2-title-container {
    width: 331px;
  }
  .fp-info2-info-p {
    margin-top: 10px;
    margin-bottom: 14px;
    margin-left: 0px;
    font-size: 14px;
    font-family: "Lato";
    width: 50%;
    text-align: left;
  }
  #fp-info2-roles-container {
    width: 50%;
    font-size: 12px;
  }
  .fp-info2-info-roles {
    font-size: 12px;
    line-height: 20px;
    font-family: "Lato";
    margin-top: 10px;
  }
  .fp-container {
    width: 690px;
  }
}
@media (min-width: 750px) {
  .fp-info1-info {
    width: 331px;
  }
}
@media (min-width: 850px) {
  .fp-container {
    width: 694px;
  }
  .fp-showcase-1 {
    width: 333px;
  }
  .fp-showcase-2 {
    width: 331px;
  }
  .fp-info1-info {
    width: 332px;
  }
  .fp-info2-info {
    width: 331px;
  }
}
@media (min-width: 950px) {
  .fp-container {
    width: 750px;
  }
  .fp-info1-title-container {
    width: 360px;
  }
  .fp-info1-info {
    width: 363px;
  }
  .fp-showcase-1 {
    width: 360px;
    height: 202.5px;
  }
  .fp-showcase-2 {
    width: 363px;
    height: 204.19px;
  }
  .fp-info2-info {
    width: 363px;
  }
}
@media (min-width: 1050px) {
  .fp-container {
    width: 840px;
  }
  .fp-showcase-1 {
    width: 404px;
    height: 227.25px;
  }
  .fp-info1-title-container {
    width: 404px;
  }
  .fp-info1-title {
    font-size: 38px;
  }
  .fp-showcase-2 {
    width: 410px;
    height: 230.63px;
  }
  .fp-info1-info {
    width: 410px;
  }
  .fp-info2-title-container {
    width: 404px;
  }
  .fp-info2-title {
    font-size: 38px;
  }
  .fp-info2-info {
    width: 410px;
  }
}
@media (min-width: 1150px) {
  .fp-container {
    width: 927px;
  }
  .fp-showcase-1 {
    width: 448px;
    height: 252px;
  }
  .fp-info1-title-container {
    width: 404px;
  }
  .fp-info1-title {
    font-size: 38px;
  }
  .fp-showcase-2 {
    width: 451px;
    height: 253.69px;
  }
  .fp-info1-info {
    width: 451px;
  }
  .fp-info2-title-container {
    width: 404px;
  }
  .fp-info2-title {
    font-size: 38px;
  }
  .fp-info2-info {
    width: 410px;
  }
  .fp-info1-info-p {
    font-size: 15px;
  }
  .fp-info1-info-roles {
    font-size: 14px;
  }
}/*# sourceMappingURL=fp.css.map */