.fp-container {
  max-width: 1600px;
  margin: 0 auto 150px auto;
  width: 98%;
}

.fp-h1-container {
  margin-bottom: 5px;
}

.fp {
  margin: 0;
  font-family: "Lato";
  font-size: 17px;
  color: #67182e;
  letter-spacing: 2px;
}

.nav_separator-fp {
  background-color: black;
  height: 1px;
}

.fp-info1-container {
  display: flex;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.fp-info1-title-container {
  display: flex;
  flex-direction: column;
}

.fp-info1-title {
  font-family: "Lato";
  color: #67182e;
  font-weight: 900;
  margin-bottom: 0px;
  text-align: center;
}

.fp-info1-year {
  margin-top: 0px;
  text-align: center;
}

#fp-info1-roles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 278px;
  margin: 0 auto 0 auto;
}

.fp-info1-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.fp-info1-info-p {
  font-family: "Lato";
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 1400px) {
  .fp-info1-info-p {
    width: 400px;
  }
}

#mbs-info-span {
  display: none;
}

.fp-info1-info-p-span {
  color: #67182e;
  font-weight: 700;
  cursor: pointer;
}

.fp-info1-info-roles {
  margin-top: 10px;
  font-family: "Lato";
  line-height: 22px;
}

.fp-showcase-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
@media (min-width: 900px) {
  .fp-showcase-container {
    justify-content: space-around;
  }
}

.fp-showcase-1-mbs {
  background-image: url(../../assets/mbs-png.png);
  background-size: 100% 100%;
  width: 278px;
  height: 156.38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 500px) {
  .fp-showcase-1-mbs {
    width: 500px;
    height: 300px;
  }
}
@media (min-width: 900px) {
  .fp-showcase-1-mbs {
    width: 500px;
    height: 300px;
  }
}
@media (min-width: 1300px) {
  .fp-showcase-1-mbs {
    width: 600px;
    height: 350px;
  }
}
@media (min-width: 1400px) {
  .fp-showcase-1-mbs {
    width: 700px;
    height: 450px;
  }
}

.fp-showcase-2-mbs {
  display: none;
  background-color: white;
  width: 49%;
  height: 100%;
}
@media (min-width: 500px) {
  .fp-showcase-2-mbs {
    display: none;
  }
}
@media (min-width: 900px) {
  .fp-showcase-2-mbs {
    display: none;
    background-image: url(../../assets/mbs2.png);
    background-size: 100% 100%;
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 1000px) {
  .fp-showcase-2-mbs {
    display: flex;
    width: 500px;
    height: 300px;
  }
}
@media (min-width: 1300px) {
  .fp-showcase-2-mbs {
    width: 600px;
    height: 350px;
  }
}
@media (min-width: 1400px) {
  .fp-showcase-2-mbs {
    width: 700px;
    height: 450px;
  }
}

.fp-showcase-1-algo {
  background-image: url(../../assets/algorythmia-png.png);
  background-size: 100% 100%;
  width: 49%;
  height: 281px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 500px) {
  .fp-showcase-1-algo {
    width: 500px;
  }
}
@media (min-width: 900px) {
  .fp-showcase-1-algo {
    width: 500px;
  }
}
@media (min-width: 1300px) {
  .fp-showcase-1-algo {
    width: 600px;
    height: 338px;
  }
}
@media (min-width: 1400px) {
  .fp-showcase-1-algo {
    width: 700px;
    height: 394px;
  }
}

.fp-showcase-2-algo {
  background-color: white;
  width: 49%;
  height: 281px;
}
@media (min-width: 500px) {
  .fp-showcase-2-algo {
    display: none;
  }
}
@media (min-width: 900px) {
  .fp-showcase-2-algo {
    display: none;
    background-image: url(../../assets/algorythmia2.png);
    background-size: 100% 100%;
    width: 400px;
    height: 300px;
  }
}
@media (min-width: 1000px) {
  .fp-showcase-2-algo {
    display: flex;
    width: 500px;
    height: 281px;
  }
}
@media (min-width: 1300px) {
  .fp-showcase-2-algo {
    width: 600px;
    height: 338px;
  }
}
@media (min-width: 1400px) {
  .fp-showcase-2-algo {
    width: 700px;
    height: 394px;
  }
}

.fp-showcase-button {
  background-color: #67182e;
  width: 169px;
  height: 30px;
  border-radius: 0.25rem;
  color: white;
  font-family: "Lato";
  opacity: 1;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-showcase-button:hover {
  color: black;
  transition: 0.3s;
}/*# sourceMappingURL=fp.css.map */