.fp-container {
    max-width: 1600px;
    margin: 0 auto 150px auto;
    width: 98%;
}

.fp-h1-container {
    margin-bottom: 5px;
}

.fp {
    margin: 0;
    font-family: 'Lato';
    font-size: 17px;
    color: #67182e;
    letter-spacing: 2px;
}

.nav_separator-fp {
    background-color: black;
    height: 1px;
}

.fp-info1-container {
    display: flex;
    margin: 0;  
    justify-content: space-between; 
    width: 100%;
}

.fp-info1-title-container {
    display: flex;
    flex-direction: column;
    width: 16vw;
}

.fp-info1-title {
    font-family: 'Lato';
    color: #67182e;
    font-size: calc(1px + 8vw);
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: normal;
    @media (min-width:600px){
        font-size: 50px;
    }
    @media (min-width:900px){
    font-size: 50px;
    }
    @media(min-width:1080px){
        font-size: 60px;
    }

}
.fp-info1-year {

}

.fp-info1-info {
    width:50%;
    float: right;  
    display: flex;
    justify-content: space-between;
}

.fp-info1-info-p {
    font-family: 'Lato';
    line-height: 20px;
    width: 45%;
    font-size: 14px;
    margin-top: 10px;
    @media (min-width: 1400px){
        width: 400px;
    }
}

.fp-info1-info-p-span{
    color: #67182e;
    font-weight: 700;
    cursor: pointer;
}

.fp-info1-info-roles {
    width: 45%;
    margin-top: 10px;
    font-family: 'Lato';
    margin-left: 35px;
    line-height: 22px;
}

.fp-showcase-container {
    margin: 25px 15px 30px 15px;
    display: flex;
    justify-content: center;
    @media (min-width: 900px){
        justify-content: space-around;
    }
}

.fp-showcase-1-mbs {
    background-image: url(../../assets/mbs-png.png);
    background-size:100% 100%;
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    @media (min-width:500px){
        width: 500px;
        height: 300px;
    }
    @media (min-width:900px){
        width:500px;
        height: 300px;
    }

    @media (min-width:1300px){
        width:600px;
        height:350px;
    }
    @media (min-width:1400px){
        width:700px;
        height:450px;
    }
}

.fp-showcase-2-mbs {
    background-color: white;
    width: 49%;
    height: 100%;
    @media (min-width:500px){
        display: none;
    }
    @media (min-width:900px){
        display: none;
        background-image: url(../../assets/mbs2.png);
        background-size:100% 100%;
        width:400px;
        height: 300px;
    }
    @media (min-width:1000px){
        display:flex;
        width:500px;
        height:300px;
    }

    @media (min-width:1300px){
        width:600px;
        height:350px;
    }
    @media (min-width:1400px){
        width:700px;
        height:450px;
    }
}

.fp-showcase-1-algo {
    background-image: url(../../assets/algorythmia-png.png);
    background-size:100% 100%;
    width: 49%;
    height: 281px;
    display: flex;
    align-items: center;
    justify-content: center;    
    @media (min-width:500px){
        width: 500px;
    }
    @media (min-width:900px){
        width:500px;
    }
    @media (min-width:1300px){
        width:600px;
        height:338px;
    }
    @media (min-width:1400px){
        width:700px;
        height:394px;
    }
}

.fp-showcase-2-algo {
    background-color: white;
    width: 49%;
    height: 281px;
    @media (min-width:500px){
        display: none;
    }
    @media (min-width:900px){
        display: none;
        background-image: url(../../assets/algorythmia2.png);
        background-size:100% 100%;
        width:400px;
        height: 300px;
    }
    @media (min-width:1000px){
        display:flex;
        width:500px;
        height:281px;
    }
    @media (min-width:1300px){
        width:600px;
        height:338px;
    }
    @media (min-width:1400px){
        width:700px;
        height:394px;
    }
}

.fp-showcase-button {
    background-color: #67182e;
    width: 40%;
    height: 50px;
    border-radius: .25rem;
    color: white;
    font-family: 'Lato';
    opacity: 1;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp-showcase-button:hover {
    color: black;
    transition: .3s;
}


// Media Queries

@media (min-height: 375px) {

}

@media (min-width: 450px) {

}

@media (min-width: 550px) {

}

@media (min-width: 650px) {

}

@media (min-width:740px){

}

@media (min-width:750px){

}

@media (min-width:850px){

}

@media (min-width: 860px) {

}

@media (min-width:900px){

}

@media (min-width:950px){

}

@media (min-width: 1024px) {

}

@media (min-width:1050px){

}

@media (min-width:1150px){

}

@media (min-width:1250px){

}

@media (min-width:1350px){

}

@media (min-width:1440px){

}