.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
    width: 98%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato';
    font-weight: bold;
    }
    
.nav_linkedin {
    margin: auto 0 2px 0 ;
    text-decoration: none;
    color: #67182e; 
    letter-spacing: 2px;
}

.nav_monogram {
    margin-top: .5rem; 
}
    
.nav_contact {
    margin: auto 0 2px 0;
    letter-spacing: 2px;
}
    
.nav_separator {
    background-color: black;
    height: 1px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    margin-bottom: 5vh;
}
    
.monogram {
    width: 31px;
    height: 20px;
}

.nav-contact-link{
    color: #67182e;
    text-decoration: none;
}